.btn__click{
    padding: 5px 15px;
    background-color: #484848;
    color: #fff;
    border-radius: 4px;
}
input{
    padding: 10px;
    margin-bottom: 10px;
}
p{
    font-style: italic;
}